@font-face {
    font-family: 'Handjet', cursive;
font-family: 'Lora', serif;
font-family: 'Oswald', sans-serif;
font-family: 'PT Sans', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'REM', sans-serif;
}

#par{
    color: red;
}

.container{
    height: 100vh;
}

img{
    max-width: 100%;
    height: auto;
}

/* div{
    border: 1px solid black;
} */

.container {
    width: 100vh;
    height: auto;
}

div {
    position: relative;
}
    
#filter {
    position: absolute;
    top: 0;
    right: 0;
    }

.wrapper {
    max-width: 1170px;
    margin: 0 auto;
}
